.list {
    list-style: none;
    padding: 0;
}

.item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #efefef;
    border-radius: 12px;
}

.error {
    color: red;
    font-weight: bold;
    font-size: 1.2rem;
}