.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    list-style: none;
    padding: 0;
}

.item {
    align-items: center;
    margin-bottom: 15px;
    background-color: #efefef;
    border-radius: 12px;

}

.image {
    width: 100%;
    border-radius: 5px;
}

.info {
    padding: 10px;
}